*{
  box-sizing: border-box;
}

body{
  font-family: "Bodoni Moda", serif;
  color: white;
  /* background-image: url("assets1/fundorosa2.jpg"); */
  /* background-size: cover; */
  height: 100vh;
  background: rgb(126,128,249);
background: linear-gradient(60deg, rgba(126,128,249,0.8435574913559174) 0%, rgba(245,146,241,0.8519608527004552) 92%); 
}



header{
    top: 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(255,255,255);
    padding: 0 10px;
    width: 100%;
    z-index: 1;
    position: relative;
}
 h1 {
   font-size: 90px;
   align-items: center;
   padding-left: 35%;
   padding-top: 5%;
 }
 header a{
     color: black;
     font-family: "Bodoni Moda", serif;
     font-size: 25px;
     text-decoration: none;
     margin: 0 20px;
     padding-left: 70px;
 }

 .unhas{
  width: 500px;
  height: 400px;
  background-size: cover;
  position: absolute;
  top: 500px;
 }

 .unha1{
  background-image: url("assets1/nail1.jpg");
  left: 200px;

 }

 .unha2{
  background-image: url("assets1/nail2.jpg");
  left: 1000px;
 }

 .barbie_logo{
 
position: absolute;
left: 20px;
 

}



/*Coco Biker
Palace Script MT
WhisperT*/
